{% include 'menu.html.twig' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Mixishop{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" href="{{ asset('image/logo.ico') }}" type="image/x-icon" />
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
        {% block footer %}
			<div class="container mt-3 text-center">
				<p class="alert alert-light h6">LE THI THANH HUYEN - ASSIGNMENT WEBG301 - HUYNH THI HOANG HAO</p>
			</div>
		{% endblock %}
    </body>
</html>
